.leftnav {
    display: block;
    background-color: rgb(40, 40, 40);
    width: max-content;
    padding: 2px;
}

.leftnav button {
    background-color: rgb(50, 15, 190);
    border: 2px solid rgb(48, 13, 188);
    box-shadow: 0 0 5px rgb(15, 15, 15);
    margin: 4px;
    color: rgb(255, 255, 255);
    padding: 20px 0px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    width: 100px;
    transition: all 0.25s linear;
}

.leftnav button:not(.active) {
    background-color: rgb(40, 40, 40);
    border: 2px solid rgb(38, 38, 38);
}

.leftnav button:hover {
    background-color: rgb(65, 30, 205);
    border: 2px solid rgb(60, 25, 200);
}
.leftnav button:hover:not(.active) {
    background-color: rgb(50, 50, 50);
    border: 2px solid rgb(47, 47, 47);
}

.pobj_nav {
    display: inline-flex;
    float: left;
}
.pobj_frame {
    display: inline-flex;
    float: right;
    width: 100%;
}

.general {
    display: inline-flex;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.frame {
    height: 100%;
    width: 100%;
}
.frame iframe {
    height: 100%;
    width: 100%;
    border: none;
}