.temp_panel {
    border-radius: 20px;
    background: rgb(42, 42, 42);
    height: auto;
    margin: 50px;
    min-height: 150px;
    min-width: 300px;
    height: min-content;
    width: min-content;
}
.temp_panel hr {
    border: none;
    border-top: 3px solid rgb(70, 70, 70);
    margin: 0px;
    box-shadow: 0 0 10px rgb(70, 70, 70);
}

.temp_name_block {
    position: relative;
    top: 20%;
    left: 3%;
    display: inline-flex;
    float: left;
}

.temp_name_block p {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: white;
    font-weight: bold;
}

.temp_up_bar {
    height: 40px;
}

.temp_online_block {
    position: relative;
    top: 26%;
    right: 3%;
    display: inline-flex;
    float: right;
}

.temp_circle {
    margin: 0px;
    border-radius: 50%;
    background-color: green;
    height: 20px;
    width: 20px;
    box-shadow: 0 0 4px rgb(0, 255, 0);
}

.temp_instruments {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: start;
    align-items: center;
    justify-items: start;
}
.temp_instruments p {
    color: white;
    font-size: medium;
    margin: 5px;
    margin-left: 10px;
}

.temp_last_online {
    height: 100%;
    width: 100%;
    margin: 10px;
    display: flex;
}
.temp_last_online p {
    align-self: flex-end;
}